// 富文本替换使用
.swipeAvatar {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFDC92;
  vertical-align: middle;
  margin: 0 2px 0 4px;
}
.swipeUsername {
  display: inline-block;
  vertical-align: middle;
  color: #FFF17F;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popoverAwardItem {
  .popoverAwardItemBg {
    width: 220px;
    height: 52px;
    display: flex;
    align-items: center;
    position: relative;
    .popoverAwardItemIcon {
      width: 44px;
      height: 44px;
      background: #412668;
      border-radius: 8px;
    }
    .popoverAwardItemText {
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
      margin-left: 6px;
    }
    .popoverAwardItemPro {
      font-weight: 400;
      font-size: 18px;
      color: #77FAFF;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.van-popover--dark .van-popover__content{
  background: rgba(0,0,0,0.7);
  padding: 10px 15px;
}
.van-popover--dark .van-popover__arrow {
  color: rgba(0,0,0,0.7);
}
.oppo_popover {
  max-width: 200px;
  white-space: pre-wrap;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 29px;
}
.popover_span {
  max-width: 170px;
  white-space: pre-wrap;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 29px;
  i {
    color: #FFF54F;
  }
}
.rules-text {
  line-height: 40px;
  font-weight: 500;
  white-space: nowrap;
  width: 558px;
   margin-left: 53px;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #FFE4AF;
    vertical-align: middle;
    span {
      position: absolute;
      top: 50%;
      left: -39px;
      transform: translateY(-50%);
      width: 42px;
      height: 44px;
      border-radius: 50%;
      background: #FFFAA6;
    }
    i {
      color: #8DFC62;
    }
    &.indent {
      margin-left: 27px;
      span {
        left: -28px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #FFFAA6;
      }
    }
  }
}
.rules-text-border{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  line-height: 40px;
  font-weight: 500;
  white-space: nowrap;
  width: 680px;
  padding: 20px 10px 20px 35px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #EB5222;
    span {
      position: absolute;
      top: 16px;
      left: -24px;
      width: 12px;
      height: 12px;
      background: #EB5222;
      border-radius: 50%;
    }
    i {
      color: #12AEAC;
    }
  }
}
.rules-text-popup {
  color: #FFE4AF;
  white-space: nowrap;
  width: 552px;
  margin-left: 79px;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    line-height: 47px;
    span {
      position: absolute;
      top: 50%;
      left: -39px;
      transform: translateY(-50%);
      width: 42px;
      height: 44px;
      border-radius: 50%;
      background-color: #fff;
    }
    em {
      color: #FFEF41;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
    dfn {
      color: #ffffff;
      font-style: normal;
    }
    i {
      color: #FFEC6C;
    }
    img{
      width: 34px;
      height: 36px;
      margin: 0 5px;
    }
    &.empty {
      height: 45px;
    }
    &.indent {
      margin-left: 33px;
      span {
        left: -28px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}
// publicTable示例
// <table class="publicTable">
//   <thead class="tableHead">
//     <tr class="tableTr">
//       <th class="tableCell tableTh">倍数</th>
//       <th class="tableCell tableTh">概率</th>
//       <th class="tableCell tableTh">可得绿晶石<br>可得绿晶石</th>
//     </tr>
//   </thead>
//   <tbody class="tableBody">
//     <tr class="tableTr">
//       <td class="tableCell tableTd">2</td>
//       <td class="tableCell tableTd borderRight borderLeft">39.9%</td>
//       <td class="tableCell tableTd deep">40</td>
//     </tr>
//     <tr class="tableTr stripe">
//       <td class="tableCell tableTd">3</td>
//       <td class="tableCell tableTd borderRight borderLeft">25%</td>
//       <td class="tableCell tableTd deep">60</td>
//     </tr>
//     <tr class="tableTr">
//       <td class="tableCell tableTd">4</td>
//       <td class="tableCell tableTd borderRight borderLeft">15%</td>
//       <td class="tableCell tableTd deep">80</td>
//     </tr>
//     <tr class="tableTr stripe">
//       <td class="tableCell tableTd">5</td>
//       <td class="tableCell tableTd borderRight borderLeft">10%</td>
//       <td class="tableCell tableTd deep">100</td>
//     </tr>
//   </tbody>
// </table>
.publicTable {
  width: 90%;
  max-width: 610px;
  border-collapse: separate;
  border-radius: 23px;
  border: 3px solid #faf9fc;
  background-color: #faf9fc;
  overflow: hidden;
  margin: 0 auto;
  white-space: wrap;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;

  i {
    color: #4FB5A5;
  }

  .tableCell {
    padding: 20px 0;
  }

  .borderTop {
    border-top: 3px solid #FFDCD4;
  }

  .borderRight {
    border-right: 3px solid #FFDCD4;
  }

  .borderBottom {
    border-bottom: 3px solid #FFDCD4;
  }

  .borderLeft {
    border-left: 3px solid #FFDCD4;
  }

  .tableTr {
    background-color: #ffffff;

    .tableTh{
      padding:  15px 0;
    }
  }

  .tableHead {
    color: #fff;
    font-size: 26px;

    .tableTr {
      background-color: #E66F55;

      .tableTh{
        padding:  15px 0;
      }
    }
  }

  .tableBody {
    color: #EC6C51;
    font-size: 26px;
  }

  .stripe {
    background-color: #FFEEEA;

    .deep {
      background-color: #E66F55;
    }
  }
}
.noTransition-move {
  transition: none;
}
.hasTransition-move {
  transition: all 0.7s;
}
