// 背景色
html {
  background-color: #041731;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 重点字体颜色
.focus-color {
  color: #fff;
}

// 按钮 未完成
.button-noFinish {
  //font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/btn_2.png') no-repeat left top/100% 100%;
  font-size: 28px;
  color: #fff;
}

// 按钮 领取
.button-receive {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/btn_3.png') no-repeat left top/100% 100%;
  font-size: 28px;
  color: #fff;
}

// 按钮 已完成
.button-finish {
  //font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/btn_1.png') no-repeat left top/100% 100%;
  font-size: 28px;
  color: #fff;
}

.rule-text {
  line-height: 45px;
  color: #FFFEFE;
  white-space: nowrap;

  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;

    img {
      position: relative;
      margin: 0 5px;
      width: 34px;
      height: 35px;
    }

    span {
      position: absolute;
      top: 17px;
      left: -28px;
      width: 12px;
      height: 12px;
      background: #6FFFFF;
      border-radius: 50%;
    }
  }
}

.noTransition-move {
  transition: none;
}
.hasTransition-move {
  transition: all 0.7s;
}

.typeLabel {
  z-index: 1;
  transform: translateY(-50%);
  top: 0;
  right: -14px;
  padding: 0 5px;
  height: 28px;
  background: linear-gradient(90deg, #FF924E, #F780FF);
  border-radius: 14px;
  font-size: 20px;
  color: #FFF1E5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  line-height: 100%;
  white-space: nowrap;
}