.flex_across {
  display: flex;
  justify-content: center;
  align-items: center;
}

.i_known_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 324px;
  height: 76px;
  background: linear-gradient(0deg, #ff803b, #ffc046);
  border: 2px solid #ffffff;
  border-radius: 38px;
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}
