/* 
 * 用于榜单靓号的展示
 *  <div :class="['位置class', 'userPrettyCode']">
 *    <div class="havenBg" v-if="item.pretty_type!=0">
 *      <PublicImg :imgName="$store.state.prettyTypeBg[item.pretty_type]"></PublicImg>
 *    </div>
 *    <span v-if="item.pretty_type!=0" :class="['prettyCode', `color${item.pretty_type}`]">{{item.code}}</span>
 *    <span v-else class="noPrettyCode">ID:{{item.code}}</span>
 *  </div>
 */
@font-face {
  font-family: "Akrobat";
  src: url("@/assets/Akrobat-Black.otf");
  font-weight: normal;
  font-style: normal;
}

.userPrettyCode{
  position: relative;
  z-index: 1;
  .havenBg{
    width: 160px;
    height: 38px;
    position: relative;
    z-index: -1;
  }
  .prettyCode{
    font-family: Akrobat;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
    &.color1{
      color: #E5F0FF;
    }
    &.color2{
      color: #FCE6FF;
    }
    &.color3{
      color: #FFDB99;
    }
    &.color4{
      color: #FFF2C9;
    }
    &.color5{
      color: #FFF0F0;
    }
  }
  .noPrettyCode{
    font-weight: 400;
    font-size: 22px;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.width-fit {
  width: fit-content;
}

.margin-row-center {
  margin: 0 auto;
}

.radius-50 {
  border-radius: 50%;
}

.fit-cover {
  object-fit: cover;
}

.background-base {
  background: no-repeat 100% 100%;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position-column-center {
  top: 50%;
  transform: translateY(-50%);
}

.position-row-center {
  left: 50%;
  transform: translateX(-50%);
}

.pointer-none {
  pointer-events: none;
}

.block {
  display: block;
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.line-height-100 {
  line-height: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-indent-left {
  margin-left: -0.5em;
}

.text-indent-right {
  margin-right: -0.5em;
}

.width-auto {
  width: auto;
}

.height-auto {
  height: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overscroll-none {
  overscroll-behavior: none;
}
