// 背景色
html {
  background: #98b2fb;
  white-space: nowrap;
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 激活标题文字样式
.active-tab {
  color: #6359E4;
  text-shadow: 1px 0 #F0F6A5,-1px 0 #F0F6A5,0 1px #F0F6A5,0 -1px #F0F6A5,1px 1px #F0F6A5,-1px -1px #F0F6A5,1px -1px #F0F6A5,-1px 1px #F0F6A5;
}
// 未激活标题文字样式
.unactive-tab{
  color: #FFFFFF;
  text-shadow: 1px 0 #8185E6,-1px 0 #8185E6,0 1px #8185E6,0 -1px #8185E6,1px 1px #8185E6,-1px -1px #8185E6,1px -1px #8185E6,-1px 1px #8185E6;
}

// 重点字体颜色
.focus-color {
  color: #FFFAA6;
}

.iconClass {
  width: 47px;
  height: 46px;
}

// 按钮 未完成
.button-noFinish {
  width: 136px;
  height: 56px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@/pages/luckyFlop/assets/btn_2.png') no-repeat left top/100% 100%;
  font-size: 28px;
}

// 按钮 领取
.button-receive {
  width: 136px;
  height: 56px;
  color: #4A50D1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@/pages/luckyFlop/assets/btn_3.png') no-repeat left top/100% 100%;
  font-size: 28px;
}

// 按钮 已完成
.button-finish {
  width: 136px;
  height: 56px;
  color: #464642;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@/pages/luckyFlop/assets/btn_1.png') no-repeat left top/100% 100%;
  font-size: 28px;
}

.buttonBig-noFinish {
  width: 256px;
  height: 83px;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@/pages/luckyFlop/assets/btn_5.png') no-repeat left top/100% 100%;
}
.buttonBig-receive {
  width: 256px;
  height: 83px;
  font-size: 32px;
  font-weight: 600;
  color: #4A50D1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@/pages/luckyFlop/assets/btn_4.png') no-repeat left top/100% 100%;
}
.buttonBig-finish {
  width: 256px;
  height: 83px;
  font-size: 32px;
  font-weight: 600;
  color: #464642;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@/pages/luckyFlop/assets/btn_6.png') no-repeat left top/100% 100%;
}

.rules-text{
  line-height: 45px;
  color: #4A50D1;
  font-weight: 500;
  white-space: nowrap;
  width: 605px;
  // margin-left: 40px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    span {
      position: absolute;
      top: 16px;
      left: -28px;
      width: 12px;
      height: 12px;
      background: #FF78D0;
      border-radius: 50%;
    }
    i {
      color: #FFFAA6;
    }
    img{
      width: 34px;
      height: 36px;
      margin: 0 5px;
    }
  }
}

.rules-text-popup{
  line-height: 45px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  width: 520px;
  // margin-left: 40px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    span {
      position: absolute;
      top: 16px;
      left: -28px;
      width: 12px;
      height: 12px;
      background: #FFFA7B;
      border-radius: 50%;
    }
    i {
      color: #FFFAA6;
    }
    img{
      width: 34px;
      height: 36px;
      margin: 0 5px;
    }
  }
}
