.dice {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
}

.dice>div {
  width: 100px;
  height: 100px;
  position: absolute;
  font-size: 30px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.one {
  transform: rotateY(90deg) translateZ(50px);
  background-color: black;
}

.two {
  transform: rotateX(-90deg) translateZ(50px);
  background-color: red;
}

.three {
  transform: rotateY(-90deg) translateZ(50px);
  background-color: green;
}

.four {
  transform: rotateX(90deg) translateZ(50px);
  background-color: skyblue;
}

.five {
  transform: rotateX(180deg) translateZ(50px);
  background-color: black;
}

.six {
  transform: rotateZ(0deg) translateZ(50px);
  background-color: purple;
}

.rotateClass_1 {
  animation: rotate_1 0.5s linear forwards;
}

.rotateClass_2 {
  animation: rotate_2 0.5s linear forwards;
}

.rotateClass_3 {
  animation: rotate_3 0.5s linear forwards;
}

.rotateClass_4 {
  animation: rotate_4 0.5s linear forwards;
}

.rotateClass_5 {
  animation: rotate_5 0.5s linear forwards;
}

.rotateClass_6 {
  animation: rotate_6 0.5s linear forwards;
}

@keyframes rotate_1 {
  20% {
    transform: translate(-50%, -50%) rotateX(1turn) rotateY(1turn) rotateZ(0);
  }

  60% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(90deg) rotateY(-90deg) rotateZ(90deg);
  }
}

@keyframes rotate_2 {
  20% {
    transform: translate(-50%, -50%) rotateX(1turn) rotateY(1turn) rotateZ(0);
  }

  60% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(90deg) rotateY(0) rotateZ(0);
  }
}

@keyframes rotate_3 {
  20% {
    transform: translate(-50%, -50%) rotateX(1turn) rotateY(1turn) rotateZ(0);
  }

  60% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(90deg) rotateZ(0);
  }
}

@keyframes rotate_4 {
  20% {
    transform: translate(-50%, -50%) rotateX(1turn) rotateY(1turn) rotateZ(0);
  }

  60% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(-90deg) rotateY(0) rotateZ(0);
  }
}

@keyframes rotate_5 {
  20% {
    transform: translate(-50%, -50%) rotateX(1turn) rotateY(1turn) rotateZ(0);
  }

  60% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes rotate_6 {
  20% {
    transform: translate(-50%, -50%) rotateX(1turn) rotateY(1turn) rotateZ(0);
  }

  60% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0);
  }
}