html {
  background-color: #b0c4fd;
}

body {
  font-size: 14px;
  color: var(--cp-text1);
}

a {
  color: var(--cp-text2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: disc !important;
}

div, p {
  box-sizing: border-box !important;
}
