// 全局样式
// 背景色
html {
  background-color: #06297f;
}
// 禁止ios长按获取链接
a {
  -webkit-touch-callout: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
li {
  font-family: PingFang SC;
  font-size: 14px;
}
// 隐藏滚动条
::-webkit-scrollbar {
  display: none;
  width: 0;
  -webkit-overflow-scrolling: touch;
}
// 盒子主题
.theme_box {
  width: 100%;
  // 边框颜色
  border: 1px solid #fff;
  background: linear-gradient(0deg, #0937a2, #205adc);
  // 背景色
  box-sizing: border-box;
  margin-bottom: 38px;
  position: relative;
  .border_box {
    width: 100%;
    border: 5px solid;
    box-sizing: border-box;
    border-image: linear-gradient(to top, #b93124, #ff935e) 1;
  }
  > .img-box {
    position: absolute;
    width: 100%;
    top: -28px;
    left: -1px;
    > img {
      width: 210px;
    }
  }
  .white_border {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    // 下方说明字体样式
    .top-text {
      margin-left: 10px;
      margin-right: 8px;
      color: #fff;
      line-height: 25px;
      li {
        position: relative;
        img {
          position: relative;
          top: -2px;
          margin: 0 5px;
          width: 21px;
        }
        span {
          position: absolute;
          top: 10px;
          left: -10px;
          display: block;
          width: 6px;
          height: 6px;
          background: #fffaa6;
          border-radius: 50%;
        }
        list-style-type: none;
        margin-left: 10px;
      }
    }
  }
}
// 我的道具
.theme_present {
  margin: 0 auto;
  width: 160px;
  height: 24px;
  background: #06297f;
  border-radius: 12px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 17px;
    margin: 0 3px;
  }
}
// 按钮
// 未完成
.theme_botton_undid {
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, #bfddff, #ffffff);
  color: #0a3394;
}
// 领取
.theme_botton_did {
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, #b93124, #ff8c1a);
  border: 1px solid #9eb4e4;
  color: #ffffff;
}
// 已完成
.theme_botton_done {
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, #989898, #dddddd);
  color: #ffffff;
}

// 渲染项背景渐变---横向
.theme_item_bgc_horizontal {
  background: linear-gradient(90deg, #3273ff, #4277ef);
  box-shadow: 0px 3px 0px 0px #b6ccf8;
  border-radius: 6px;
}

// 弹框样式
.theme_tk {
  overflow: visible;
  background-color: transparent !important;
  // 标题
  .van-dialog__header {
    position: absolute;
    top: -52px;
    left: 55px;
    height: 65px;
    > img {
      width: 210px;
    }
  }
  .van-dialog__content {
    margin: 0 auto;
    background: linear-gradient(0deg, #0937a2, #205adc);
    border: 4px solid #fffbb0;
    border-radius: 20px;
    box-sizing: border-box;
    .white_border {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      border: 1px solid #fff;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 25px;
      box-sizing: border-box;
      // 弹框计数器部分
      .counter-box {
        margin-top: 8px;
        margin-bottom: 5px;
        // 弹框计数器
        .counter {
          padding: 0 22px;
          display: flex;
          justify-content: space-evenly;
          > p {
            color: #ffffff;
            background: #11275b;
            padding: 5px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .reduce,
          .add {
            width: 24px;

            > img {
              width: 14px;
            }
          }
          .input {
            text-align: center;
            width: 60px;
            font-size: 18px;
            color: #fffaa6;
          }
        }
        // 结算部分
        .billing {
          margin-top: 10px;
          border-top: 2px solid #fff;
          box-sizing: border-box;
          padding: 15px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;
          color: #ffffff;
          > p {
            display: flex;
            justify-content: center;
            align-items: center;
            > img {
              width: 17px;
              margin: 0 5px;
            }
          }
          > .button {
            width: 62px;
            height: 32px;
            background: linear-gradient(0deg, #b93124, #ff8c1a);
            border: 1px solid #ffffff;
            border-radius: 15px;
            font-size: 16px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
