// 背景色
html {
  background-color: #06297f;
}

// 重点字体颜色
.speical_color {
  color: #fffaa6 !important;
}

// 我的道具
.theme_present {
  margin: 0 auto;
  width: 160px;
  height: 24px;
  background: #06297f;
  border-radius: 12px;
  color: #ffffff;
  > img {
    height: 18px;
    margin: 0 3px;
  }
  .theme_present_nums {
    height: 100%;
    text-align: left;
    line-height: 24px;
  }
}

// 按钮 未完成
.theme_botton_undid {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #bfddff, #ffffff);
  border: 1px solid #ffffff;
  color: #0a3394;
}

// 按钮 领取
.theme_botton_did {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #b93124, #ff8c1a) !important;
  border: 1px solid #9eb4e4 !important;
  color: #fff !important;
}

// 按钮 已完成 已领取
.theme_botton_done {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff !important;
  background: linear-gradient(0deg, #989898, #dddddd) !important;
  color: #ffffff !important;
}

// 渲染项背景渐变---横向
.bgc_horizontal {
  background: linear-gradient(90deg, #3273ff, #4277ef);
  box-shadow: 0px 3px 0px 0px #b6ccf8;
  border-radius: 6px;
}

// 渲染项背景渐变---纵向
.bgc_portrait {
  background: linear-gradient(180deg, #3c76f5, #3d76f4);
  border-radius: 6px;
}

// 弹框样式
.theme_tk {
  overflow: visible;
  background-color: transparent !important;

  // 标题
  .van-dialog__header {
    width: 100%;
    position: absolute;
    top: -46px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      width: 201px;
    }
  }

  .van-dialog__content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    // background: linear-gradient(0deg, #0937A2, #205ADC);
    border: 4px solid #fffbb0;
    border-radius: 15px;
    overflow: hidden;
    padding: 1px;

    .white_border {
      width: 100%;
      // height: 100%;
      // border: 1px solid #fff;
      background: linear-gradient(0deg, #0937a2, #205adc);
      border-radius: 10px;
      padding-top: 25px;
      overflow: hidden;
      > p {
        > img {
          height: 18px;
          margin: 0 3px;
        }
      }
      .img-box {
        background: #fff;
        border: 2px solid #98bffb;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
      }

      // 我得道具
      .my_present_nums_box {
        height: 18px;
        margin: 0 3px;
      }
    }
  }
}

// 小弹框样式
.theme_tk_small {
  width: 248px !important;
}

// 子tab页
.theme_children_tab {
  overflow: hidden;
  width: 100%;
  display: flex;
  // border-radius: 22px 22px 0 0;

  .theme_tabs_item {
    flex: 1;
    color: #fff;
    background: #0a3394;
    text-align: center;
  }

  // 底部tab栏活动
  .theme_tabs_item_active {
    // border: none;
    color: #0a3394;
    background: url('../assets/zs.png') no-repeat !important;
    background-size: 100% !important;
  }
}

// 奖励项边框
.theme_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #98bffb;
  overflow: hidden;
  padding: 1px;
  .img-top {
    background: #fefaef !important;
    border-radius: 4px 4px 0 0;
  }
  .img-bottom {
    flex: 1;
    background-color: #1647af;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
  }
}

//纵向flex布局
.flex_vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//横向flex布局
.flex_across {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 文字溢出隐藏（当前元素不能使用flex布局）
.text_overHidden {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
