html {
  -webkit-text-size-adjust: none;
  background-color: #B04F2D;
  color: #FFFFFF;
  white-space: nowrap;
}

// 重点字体颜色
.focus-color {
  color: #FFEF85;
}
/*右上角私聊气泡，公屏气泡角标*/
.typeLabel {
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 0;
  right: -8px; /*todo 角标距离右边距离*/
  padding: 0 8px;
  height: 28px;
  background: #40A6A9; /*todo 角标背景色*/
  border-radius: 14px;
  font-size: 18px; /*todo 角标字体大小*/
  color: #FFFFFF; /*todo 角标字体颜色*/
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
}
.rules-text{
  line-height: 45px;
  font-weight: 500;
  white-space: nowrap;
  width: 605px;
  // margin-left: 40px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #A94214;
    vertical-align: middle;
    span {
      position: absolute;
      top: 16px;
      left: -24px;
      width: 12px;
      height: 12px;
      background: #FFB11B;
      border-radius: 50%;
    }
    i {
      color: #EC6BFF;
    }
    img{
      width: 35px;
      height: 40px;
    }
    em{
      color: #A94214;
      background: linear-gradient(0deg, #F6751A, #FFBF35);
      border-radius: 22px;
      border: 3px solid #FFE289;
      color: #fff;
      padding: 0 16px;
      margin: 0 10px;
    }
  }
}
.rules-text-border{
  background: #D7E5FF;
  border-radius: 20px;
  line-height: 45px;
  font-weight: 500;
  white-space: nowrap;
  width: 670px;
  padding: 10px 10px 10px 35px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #575FCB;
    span {
      position: absolute;
      top: 16px;
      left: -24px;
      width: 12px;
      height: 12px;
      background: #F4A7FF;
      border-radius: 50%;
    }
    i {
      color: #EC6BFF;
    }
  }
}
.rules-text-popup{
  color: #fff;
  white-space: nowrap;
  width: 520px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 45px;
    span {
      position: absolute;
      top: 50%;
      left: -24px;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background: #FFEC95;
      border-radius: 50%;
    }
    em {
      position: absolute;
      top: 16px;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
    }
    i {
      color: #FFEE77;
    }
    img{
      width: 34px;
      height: 36px;
      margin: 0 5px;
    }
  }
}
.noTransition-move {
  transition: none;
}
.hasTransition-move {
  transition: all 0.7s;
}