// 背景色
html {
  background-color: #1D236E;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 重点字体颜色
.focus-color {
  color: #fff;
}

// 按钮 未完成
.button-noFinish {
  //font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/mk1_3.png') no-repeat left top/100% 100%;
  font-size: 28px;
  color: #1069FF;
}

// 按钮 领取
.button-receive {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/mk1_2.png') no-repeat left top/100% 100%;
  font-size: 28px;
  color: #1069FF;
}

// 按钮 已完成
.button-finish {
  //font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/mk1_4.png') no-repeat left top/100% 100%;
  font-size: 28px;
  color: #fff;
}

.rule-text {
  line-height: 45px;
  color: #FFFEFE;
  white-space: nowrap;

  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;

    img {
      position: relative;
      margin: 0 5px;
      width: 34px;
      height: 35px;
    }

    span {
      position: absolute;
      top: 17px;
      left: -28px;
      width: 12px;
      height: 12px;
      background: #FFFAA6;
      border-radius: 50%;
    }
  }
}

.typeLabel {
  z-index: 1;
  transform: translateY(-50%);
  top: 0;
  right: 0;
  padding: 0 5px;
  height: 32px;
  background: linear-gradient(90deg, #F487CA, #FFE983);
  border-radius: 0 12px 0 12px;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  line-height: 100%;
  white-space: nowrap;
  text-shadow: 1px 0 #F487CA, -1px 0 #F487CA, 0 1px #F487CA, 0 -1px #F487CA, 1px 1px #F487CA, -1px -1px #F487CA, 1px -1px #F487CA, -1px 1px #F487CA;
}