$theme_html_bgc: #FDEBE2; // 页面背景色
$theme_special_color: #fffaa6; // 重点字体颜色

// 按钮 未完成
$theme_botton_undid_bgc: linear-gradient(180deg, #FFFEE9, #FFEB90); // 背景色
$theme_botton_undid_border: 1px solid #ffffff; // 边框色
$theme_botton_undid_color: #FB2505; // 字体色

// 按钮 领取
$theme_botton_did_bgc: linear-gradient(0deg, #FF561F, #FFB67D);
$theme_botton_did_border: 1px solid #fff;
$theme_botton_did_color: #fff;

// 按钮 已完成
$theme_botton_done_bgc: linear-gradient(0deg, #989898, #dddddd);
$theme_botton_done_border: 1px solid #ffffff;
$theme_botton_done_color: #ffffff;

// 渲染项背景渐变-横向
// 积分兑奖：任务列表子组件，兑换好礼列表子组件
// 充值返利：累计充值和连续充值列表子组件
// 钻石送礼：累计消费返利列表子组件，排行榜组件
$theme_bgc_horizontal_bgc: linear-gradient(-90deg, #FF90FE, #A399FF); //背景色
$theme_bgc_horizontal_shadow: 0px 3px 0px 0px #FFFAC4; //阴影色

// 子tab页
// 充值返利：累计充值和连续充值列表子组件
// 钻石送礼：排行榜切换获赠排行榜和赠送排行榜
$theme_children_tab_item_color: #fff; // 字体颜色
$theme_children_tab_item_bgc: #6243CC; // 背景色
$theme_children_tab_item_active_bgc: url('../assets/zs.png') no-repeat; // 激活背景色tab_2
$theme_children_tab_item_active_color: #FB2505; //激活字体颜色

// 积分兑奖：任务列表子组件，兑换好礼列表子组件
// 充值返利：首充充值道具，累计充值和连续充值列表子组件
// 钻石送礼：累计消费返利列表子组件，排行榜组件
$theme_award_border: 2px solid #FDE690; // 边框色
$theme_award_icon_bgc: #fefaef; // 背景色
$theme_award_name_bgc: #FF7042; // 文字背景色
$theme_award_name_color: #ffffff; // 字体色
$theme_award_padding: 1px; // 字体色

//----------------------------------------------------------------------

// 以下为模块样式

// tab页
$theme_banner_bgi: url('../assets/banner.png') no-repeat top center/100%; // banner图
$theme_banner_height: 200px; // banner 高度
$theme_tab_box_margin: 0px 0 17px; // tab盒子 外边距
$theme_tab_item_color: #fff; // 字体 颜色
$theme_tab_item_color_act: #fff; // tab 背景色
$theme_tab_item_bgc: url('../assets/tab_1_1.png') no-repeat top center/100% auto; // tab 背景色
$theme_tab_item_bgc_act: url('../assets/tab_1.png') no-repeat top center/100% auto; // tab 活动 背景色
$theme_tab_item_width: 87px; // tab 宽度
$theme_tab_item_height: 38px; // tab 高度
$theme_tab_item_margin: 0px; // tab 外边距

// 积分兑奖
$pointReward_excharge_bgc: #FFFAC4; // 兑换好礼列表子组件边框色
$pointReward_excharge_Icon_bgc: linear-gradient(180deg, #FFF3EC, #FFE5C4); // 兑换好礼列表子组件道具图片背景色
$pointReward_excharge_my_present_bgc: #6243CC; // 兑换好礼内的我的积分
$pointReward_excharge_text_bgc: linear-gradient(-90deg, #F791FE, #A399FF); // 说明文本背景色
$pointReward_dialog_left_btn_col: #ff4e1c;
$pointReward_dialog_left_btn_bgc: #fffee9;
$pointReward_dialog_left_btn_bd: 1px solid #fffee9;

// 充值返利
$rechargeRebate_first_bgc: linear-gradient(0deg, #908FFF, #F6ACFE); // 首次充值说明文本背景色
$rechargeRebate_first_btn_bgc: linear-gradient(180deg, #FFFEE9, #FFEB90); // 首充充值文本上方按钮背景色
$rechargeRebate_first_btn_color: #FB2505; // 首充充值文本上方按钮字体颜色
$rechargeRebate_first_btn_border: 1px solid #ffffff; // 首充充值文本上方按钮边框
$rechargeRebate_recharge_list_circle: #FFFAA6; // 累计充值和连续充值列表子组件文本小圆点
$rechargeRebate_recharge_list_icon_bgc: #7352E5; // 累计充值满30文本下方的盒子背景色
$rechargeRebate_recharge_5000_text_bgc: #7352e5; // 累计充值满5000文本背景色

// 钻石送礼
$presentGift_rank_header_bgc: #6243CC; // 排行榜头部背景色
//----------------------------------------------------------------------

// 以下为组件样式

// ThemeBox
$theme_box_head_width: 201px; // 标题图标大小
$theme_box_head_top: -24px; // 标题图标位置
$theme_box_bgc: linear-gradient(0deg, #808CFF, #7F52F5); // 背景色颜色
$theme_box_border: 1px solid #fff; // 外层边框
$theme_box_padding: 4px; // 渐变边框厚度
$theme_box_bd_linear: linear-gradient(0deg, #D47FD1, #FEAF7C); // 渐变边框
$theme_box_circle_color: #FFF000; // 文本前面圆点颜色
$theme_box_text_color: #fff; // 文本颜色

// ThemeDialog
$theme_dailog_border: 4px solid #FBAB83; // 边框颜色
$theme_dailog_bgc: linear-gradient(0deg, #808CFF, #7F52F5); // 背景色
$theme_dailog_title_icon_size: 201px; // 标题图标大小
$theme_dailog_title_icon_top: -44px; // 标题图标位置
$theme_dialog_icon_border: 2px solid #FDE690; // 图片边框（和theme_item颜色不一样）

// DialogCounter
$dialog_counter_bgc: #6243CC; // 弹框计数器背景色
$dialog_counter_input_color: #f7f26a; // 弹框计数器输入框字体颜色

// DialogCongrats
// $dialog_congrats_Award_Icon_border: 2px solid #C8FFF8; // 图片边框
//----------------------------------------------------------------------

// 背景色
html {
  background-color: $theme_html_bgc;
}

// 重点字体颜色
.speical_color {
  color: $theme_special_color !important;
}

// 按钮 未完成
.theme_botton_undid {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme_botton_undid_bgc;
  border: $theme_botton_undid_border;
  color: $theme_botton_undid_color;
}

// 按钮 领取
.theme_botton_did {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme_botton_did_bgc !important;
  border: $theme_botton_did_border !important;
  color: $theme_botton_did_color !important;
}

// 按钮 已完成
.theme_botton_done {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme_botton_done_bgc !important;
  border: $theme_botton_done_border !important;
  color: $theme_botton_done_color !important;
}

// 渲染项背景渐变-横向
.bgc_horizontal {
  background: $theme_bgc_horizontal_bgc;
  box-shadow: $theme_bgc_horizontal_shadow;
}

// 子tab页
.theme_children_tab {
  overflow: hidden;
  width: 100%;
  display: flex;
  // border-radius: 22px 22px 0 0;

  .theme_tabs_item {
    flex: 1;
    color: $theme_children_tab_item_color;
    background: $theme_children_tab_item_bgc;
    text-align: center;
  }

  // 底部tab栏活动
  .theme_tabs_item_active {
    // border: none;
    color: $theme_children_tab_item_active_color;
    background: $theme_children_tab_item_active_bgc !important;
    background-size: 100% !important;
  }
}

// 积分兑奖：任务列表子组件，兑换好礼列表子组件
// 充值返利：首充充值道具，累计充值和连续充值列表子组件
// 钻石送礼：累计消费返利列表子组件，排行榜组件
.theme_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: $theme_award_border;
  overflow: hidden;
  padding: $theme_award_padding;

  .img-top {
    background: $theme_award_icon_bgc;
    border-radius: 4px 4px 0 0;
  }

  .img-bottom {
    flex: 1;
    background-color: $theme_award_name_bgc;
    color: $theme_award_name_color;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
  }
}

//纵向flex布局
.flex_vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//横向flex布局
.flex_across {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 文字溢出隐藏（当前元素不能使用flex布局）
.text_overHidden {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//----------------------------------------------------------------------

// 以下为模块样式

// tab页
#app {
  .ThemeBanner {
    background: $theme_banner_bgi;
    height: $theme_banner_height;
  }

  .ThemeTab {
    margin: $theme_tab_box_margin;

    .theme_tab_item {
      width: $theme_tab_item_width;
      height: $theme_tab_item_height;
      color: $theme_tab_item_color;
      background: $theme_tab_item_bgc;
      margin: $theme_tab_item_margin;
    }

    .theme_tab_active {
      color: $theme_tab_item_color_act;
      background: $theme_tab_item_bgc_act;
    }
  }

}

// 积分兑奖
.PointReward {

  // 兑换好礼列表子组件
  .ExchargeListItem {
    // 边框色
    background: $pointReward_excharge_bgc;

    // 道具图片背景
    .ExchargeItem_Icon {
      background: $pointReward_excharge_Icon_bgc;
    }

    // 说明文本背景渐变
    .ExchargeListItem_Center {
      background: $pointReward_excharge_text_bgc;
    }

    // 道具名称
    .ExchargeItem_Name {
      color: #ffffff;
      background: $theme_award_name_bgc;
    }
  }

  // 兑换好礼内的我的积分
  .PointReward_BottomBox_Present {
    background: $pointReward_excharge_my_present_bgc;
    color: #fff;
  }

  // 兑换好礼弹框内左边按钮特殊背景色
  .van-dialog {
    .left-button {
      color: $pointReward_dialog_left_btn_col;
      background: $pointReward_dialog_left_btn_bgc;
      border: $pointReward_dialog_left_btn_bd;
    }
  }
}

// 充值返利
.RechargeRebate {

  // 首次充值文本圆点
  .RechargeGiftList_Footer {
    span {
      background: $rechargeRebate_recharge_list_circle;
    }
  }

  .RechargeRebate_TopBox_Button {
    background: $rechargeRebate_first_btn_bgc;
    border: $rechargeRebate_first_btn_border;
    color: $rechargeRebate_first_btn_color;
  }

  // 首次充值说明文本背景
  .RechargeRebate_TopBox_Article {
    background: $rechargeRebate_first_bgc;
  }

  // 累计充值和连续充值列表子组件
  .RechargeTaskItem_LeftContent {
    // 字体颜色
    color: #fff;

    // 道具盒子背景（累计充值满30元文本下方的盒子）
    .award_contain {
      background-color: $rechargeRebate_recharge_list_icon_bgc;
    }
  }

  .RechargeLevel5000 {
    .img-bottom {
      background: $rechargeRebate_recharge_5000_text_bgc;
    }
  }
}

// 钻石送礼
.PresentGift {
  .PresentGiftRank {
    .rank_header {
      background: $presentGift_rank_header_bgc;
    }
  }
}

//----------------------------------------------------------------------

// 以下为公共组件样式

// ThemeBox
.ThemeBox {
  border: $theme_box_border;
  background: $theme_box_bd_linear;
  padding: $theme_box_padding;

  .ThemeBox_head {
    top: $theme_box_head_top;

    >img {
      width: $theme_box_head_width;
    }
  }

  .ThemeBox_main {
    background: $theme_box_bgc;

    .ThemeBox_BottomText {
      color: $theme_box_text_color;

      span {
        background: $theme_box_circle_color;
      }
    }
  }
}

// ThemeDialog
.ThemeDialog {
  .van-dialog__header {
    top: $theme_dailog_title_icon_top;

    >img {
      width: $theme_dailog_title_icon_size;
    }
  }

  .van-dialog__content {
    border: $theme_dailog_border;
  }

  .ThemeDialog_bgc {
    background: $theme_dailog_bgc;
  }

  .theme_item {
    border: $theme_dialog_icon_border;
  }
}

// DialogCounter
.DialogCounter {
  .counter {
    >p {
      background: $dialog_counter_bgc;
    }

    .input {
      color: $dialog_counter_input_color;
    }
  }
}

// DialogCongrats
.DialogCongrats {
  .Award_Icon {
    border: $theme_dialog_icon_border;
  }
}