html {
  -webkit-text-size-adjust: none;
  background: url("@/pages/summerParty2024/assets/back.png") no-repeat left top/100% 100%;
  min-height: 100vh;
  color: #FFFFFF;
  white-space: nowrap;
}

// 重点字体颜色
.focus-color {
  color: #FFEF85;
}

.rules-text{
  line-height: 45px;
  font-weight: 500;
  white-space: nowrap;
  width: 605px;
  // margin-left: 40px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #fff;
    vertical-align: middle;
    span {
      position: absolute;
      top: 16px;
      left: -24px;
      width: 12px;
      height: 12px;
      background: #FFEC81;
      border-radius: 50%;
    }
    i {
      color: #FFE84F;
    }
    img{
      width: 37px;
      height: 36px;
    }
  }
}
.rules-text-border{
  background: #763E13;
  border-radius: 20px;
  line-height: 45px;
  font-weight: 500;
  white-space: nowrap;
  width: 670px;
  padding: 10px 10px 10px 35px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #F3D584;
    span {
      position: absolute;
      top: 16px;
      left: -24px;
      width: 12px;
      height: 12px;
      background: #F09843;
      border-radius: 50%;
    }
    i {
      color: #F45000;
    }
  }
}
.rules-text-popup{
  color: #fff;
  white-space: nowrap;
  width: 520px;
  margin: 0 auto;
  li {
    position: relative;
    list-style-type: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 45px;
    span {
      position: absolute;
      top: 50%;
      left: -24px;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background: #FFEC95;
      border-radius: 50%;
    }
    em {
      position: absolute;
      top: 16px;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
    }
    i {
      color: #FFEE77;
    }
    img{
      width: 34px;
      height: 36px;
      margin: 0 5px;
    }
  }
}
.noTransition-move {
  transition: none;
}
.hasTransition-move {
  transition: all 0.7s;
}


