// 全局样式
html {
  background-color: #3f93aa;
}
a {
  -webkit-touch-callout: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
li {
  font-family: PingFang SC;
  font-size: 14px;
}

// 盒子主题
.theme_box {
  width: 100%;
  // 边框颜色
  border: 5px solid #74bde6;
  // 背景色
  background: linear-gradient(180deg, #f5fcff, #f5fffb);
  box-sizing: border-box;
  margin-bottom: 38px;
  position: relative;
  > .img-box {
    position: absolute;
    width: 100%;
    top: -32px;
    left: -1px;
    > img {
      width: 262px;
    }
  }
  .white_border {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    // 下方说明字体样式
    .top-text {
      margin-left: 10px;
      margin-right: 8px;
      color: #107094;
      line-height: 25px;
      li {
        position: relative;
        img {
          margin: 0 5px;
          width: 21px;
          height: 18px;
          position: relative;
          top: -2px;
        }
        span {
          position: absolute;
          top: 10px;
          left: -10px;
          display: block;
          width: 6px;
          height: 6px;
          background: #54b39e;
          border-radius: 50%;
        }
        list-style-type: none;
        margin-left: 10px;
      }
    }
  }
}

// 按钮
// 未完成
.theme_botton_undid {
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, #fff6c1, #ffffff);
  color: #b28d2b;
}
// 领取
.theme_botton_did {
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, #e99b13, #f9e16e);
  color: #ffffff;
}
// 已完成
.theme_botton_done {
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, #989898, #dddddd);
  color: #ffffff;
}

// 渲染项背景渐变---横向
.theme_item_bgc_horizontal {
  background: linear-gradient(-90deg, #7ea1e9, #4dafb5);
  box-shadow: 0px 3px 0px 0px #a2cbf1;
  border-radius: 6px;
}

// 弹框样式
.theme_tk {
  overflow: visible;
  background-color: transparent !important;
  // 标题
  .van-dialog__header {
    position: absolute;
    top: -52px;
    left: 30px;
    height: 65px;
    > img {
      width: 265px;
    }
  }
  .van-dialog__content {
    margin: 0 auto;
    background: linear-gradient(180deg, #4dafb5, #7ea1e9);
    border: 4px solid #cdf5ff;
    border-radius: 20px;
    box-sizing: border-box;
    .white_border {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      border: 1px solid #fff;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 25px;
      box-sizing: border-box;
    }
  }
}
