// 背景色
html {
  background: linear-gradient(0deg, #B97737, #7D411D 30%) no-repeat left top/100% 100% fixed;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 重点字体颜色
.focus-color {
  color: #fff;
}

// 按钮 未完成
.button-noFinish {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #4B9A9D;
  background: linear-gradient(0deg, #DAFFE6, #FFFFFF);
  border: 2px solid #FFFFFF;
  border-radius: 36px;
}

// 按钮 领取
.button-receive {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background: linear-gradient(0deg, #FFF5B0, #FFFFFF);
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  color: #A9792C;
}

// 按钮 已完成
.button-finish {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #9D9D9D, #D4D4D4);
  border: 2px solid #FFFFFF;
  font-size: 28px;
  color: #fff;
  border-radius: 32px;
}

.rule-text {
  line-height: 45px;
  color: #A94214;
  white-space: nowrap;

  li {
    position: relative;
    list-style-type: none;
    font-size: 28px;

    img {
      position: relative;
      margin: 0 5px;
      width: 44px;
      height: 40px;
    }

    span {
      position: absolute;
      top: 17px;
      left: -22px;
      width: 12px;
      height: 12px;
      background: #D15C28;
      border-radius: 50%;
    }
  }
}
